<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freshmanapp.blooddonor" >
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- GCM Related -->
    <permission
        android:name="com.freshmanapp.blooddonor.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.freshmanapp.blooddonor.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/MyNavigationDrawerTheme"
            android:name=".MyNavigationDrawer"
            android:label="@string/title_activity_my_navigation_drawer" >
        </activity>
        <activity
            android:theme="@style/MyNavigationDrawerTheme"
            android:name=".Registration"
            android:label="@string/title_activity_my_navigation_drawer" >
        </activity>
        <activity
            android:theme="@style/MyNavigationDrawerTheme"
            android:name=".Splash"
            android:label="@string/title_activity_my_navigation_drawer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.freshmanapp.blooddonor.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.freshmanapp.blooddonor" />
            </intent-filter>
        </receiver>

        <service android:name="com.freshmanapp.blooddonor.GcmIntentService" />
    </application>

</manifest>
